@import "vars"


/*==========  Desktop First  ==========*/

@media (max-width:1800px)
	///////////////////////////////////width: 80%
	.articles .articles_wrapper
		width: 80%





	.header .header_wrapper .slogan_wrapper .bottom_word
		font-size: 130px

// @media (max-width:1700px)

@media (max-width:1600px)
	///////////////////////////////////	width: 90%
	.articles .articles_wrapper
		width: 90%






	.header .header_wrapper
		width: 100%

	.header .smoke2
		left: -130px
		width: 1000px

	.header .header_wrapper .slogan_wrapper .bottom_word .aristarh
		width: 320px
		margin-left: -160px
		top: 82px

	.header .header_wrapper .slogan_wrapper .bottom_word
		font-size: 100px
		line-height: 65px

	.header .smoke2
		left: 23px
		width: 720px

	.presection_wrapper .title
		font-size: 120px
		line-height: 120px

	.presection_wrapper
		height: 300px
// @media (max-width:1500px)

@media (max-width:1400px)
	///////////////////////////////////////secton padding 46px 0
	.articles
		padding: 46px 0




	.header .top_header .center_wrapper .main_h1
		font-size: 20px

	.articles .articles_wrapper .articles_inner_wrapper .articles_item .right_column .content_wrapper .h3title
		font-size: 20px

	.articles .articles_wrapper .articles_inner_wrapper
		margin-bottom: 32px

	.articles .articles_wrapper .button
		margin-bottom: 60px

// ≥1200px
+media-breakpoint-down(lg)
	//////////////////////////////////width: 95%
	.articles .articles_wrapper
		width: 95%






	.header .header_wrapper .slogan_wrapper .bottom_word
		font-size: 80px
		line-height: 42px

	.header .header_wrapper .slogan_wrapper .bottom_word .aristarh
		width: 290px
		margin-left: -145px

	.header .smoke2
		width: 547px

	.header
		padding: 16px 16px 0

	.header .top_header .center_wrapper .main_h1
		margin-bottom: 8px

	.presection_wrapper
		height: 250px

	.presection_wrapper .title
		font-size: 90px
		line-height: 90px

	.articles .articles_wrapper .section_title
		font-size: 22px
		height: 36px

	.articles .articles_wrapper .articles_inner_wrapper .articles_item
		width: 49%

	.articles .articles_wrapper .articles_inner_wrapper .articles_item .right_column .content_wrapper .h3title
		font-size: 18px

	.articles .articles_wrapper .articles_inner_wrapper .articles_item .right_column .content_wrapper .description
		font-size: 14px

	.articles .articles_wrapper .articles_inner_wrapper
		margin-bottom: 24px

	.articles .articles_wrapper .articles_inner_wrapper .articles_item
		margin-bottom: 32px

	.articles .articles_wrapper .articles_inner_wrapper .articles_item .right_column .content_wrapper .info_line li
		font-size: 14px

// ≥992px
+media-breakpoint-down(md)
	.header .header_wrapper .slogan_wrapper .bottom_word
		font-size: 60px
		line-height: 20px

	.header .header_wrapper .slogan_wrapper .bottom_word .aristarh
		width: 218px
		margin-left: -109px
		top: 160px

	.header .header_wrapper .slogan_wrapper .top_word
		margin-top: -110px

	.header .smoke2
		width: 397px
		left: -60px

	.header .top_header .center_wrapper .main_h1:after
		margin-left: 16px

	.header .top_header .center_wrapper .main_h1:after, .header .top_header .center_wrapper .main_h1:before
		width: 80px
		margin-right: 16px

	.header .top_header .img_wrapper img
		width: 60px

	.articles .articles_wrapper .button
		margin-bottom: 32px

// ≥768px
+media-breakpoint-down(sm)
	/////////////////////////////////////////////padding-top: 32px
	.articles
		padding: 32px 0






	.header .header_wrapper .slogan_wrapper .bottom_word
		font-size: 46px
		line-height: 14px

	.header .header_wrapper .slogan_wrapper .top_word
		font-size: 12px

	.articles .articles_wrapper .articles_inner_wrapper
		flex-direction: column

	.articles .articles_wrapper .articles_inner_wrapper .articles_item
		width: 100%

	.presection_wrapper .title
		font-size: 70px
		line-height: 70px

	.presection_wrapper
		height: 200px

	.articles .articles_wrapper .section_title
		margin-bottom: 24px

	.articles .articles_wrapper .articles_inner_wrapper
		margin-bottom: 0

// ≥576px
+media-breakpoint-down(xs)
	////////////////////////////////////////padding-top: 24px
	.articles
		padding-top: 24px

	.header .top_header .center_wrapper .main_h1:after, .header .top_header .center_wrapper .main_h1:before
		display: none

	.header .top_header .center_wrapper
		margin-left: auto

	.header .top_header .center_wrapper .main_h1
		font-size: 16px
		text-align: right

	.header .top_header .center_wrapper .socline li
		margin: 0px 0 0 16px

	.header .top_header .center_wrapper .socline
		margin-left: auto

	.header .header_wrapper .slogan_wrapper .bottom_word
		font-size: 8vw
		line-height: 0px

	.header .header_wrapper .slogan_wrapper .top_word
		font-size: 10px

	.header .top_header
		align-items: flex-start

	.header .smoke2
		width: 306px

	.presection_wrapper .title
		font-size: 40px
		line-height: 40px

	.presection_wrapper
		height: 140px

	.articles .articles_wrapper .articles_inner_wrapper .articles_item .right_column .content_wrapper .info_line li
		font-size: 10px
		margin-right: 4px
		padding-right: 8px

	.articles .articles_wrapper .section_title
		font-size: 20px
		height: 32px

	.articles .articles_wrapper .articles_inner_wrapper .articles_item .right_column .content_wrapper .h3title
		font-size: 16px

	.articles .articles_wrapper .articles_inner_wrapper .articles_item .right_column .content_wrapper .description
		margin-bottom: 16px

	.articles .articles_wrapper .articles_inner_wrapper .articles_item
		margin-bottom: 24px

	.articles .articles_wrapper .articles_inner_wrapper .articles_item .right_column .content_wrapper .description
		font-size: 12px

	.articles .articles_wrapper .articles_inner_wrapper .articles_item .right_column .content_wrapper .button_publication
		height: 35px
		font-size: 16px
		padding-right: 8px
		padding-bottom: 0px
		padding-top: 5px

	.articles .articles_wrapper .articles_inner_wrapper .articles_item .right_column .content_wrapper .button_publication:before
		width: 30px

	.articles .articles_wrapper .articles_inner_wrapper .articles_item .right_column .content_wrapper .button_publication:after
		height: 35px

	.header .top_header .center_wrapper
		margin-top: 50px

	.button
		&:before
			left: 0
		&:after
			right: 0
		.left_shape, .right_shape
			width: 100%
			height: 100%

	.header .header_wrapper .slogan_wrapper .bottom_word .aristarh
		width: 56vw













@media(max-height: 900px)
	.main_nav .logo
		width: 70px

	.main_nav .phone_wrapper
		padding: 16px 24px 8px

	.main_nav .phone_wrapper
		font-size: 18px

	.main_nav .logo
		margin: 0px auto 8px

	.main_nav .navigation
		padding: 8px 24px

	.main_nav .phone_wrapper
		padding: 8px 24px 8px

	.main_nav .adress
		padding: 0 24px 8px

	.main_nav .socline
		padding: 0 24px 8px

	.main_nav .nusic_project_wrapper
		padding: 8px 24px 8px

@media(max-height: 800px)
	.main_nav .logo
		display: none

	.main_nav .navigation
		border-top: none

@media(max-height: 700px)
	.main_nav form
		padding: 12px 24px 4px
		border-bottom: none

	.main_nav
		padding: 8px 0

	.main_nav .nusic_project_wrapper img
		width: 110px

@media(max-height: 600px)
	.main_nav .nusic_project_wrapper
		display: none

	.main_nav .site_wrapper
		padding: 16px 24px 0

	.main_nav .phone_wrapper
		padding: 12px 24px 12px